<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>eninfguv@tznvy.pbz</string>
	<key>contactName</key>
	<string>Richa Avasthi</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>HTML (ECO)</string>
	<key>uuid</key>
	<string>3C97F647-3708-4307-8E3D-0063B22927C8</string>
</dict>
</plist>
